#container {
    display: flex;

    flex-wrap: wrap;
    border: solid rgb(0, 0, 0) 1px;
}

.square {
    background-color: rgb(235, 235, 255);
    border: solid black 1px;
    box-sizing: border-box; /*make border inside the box*/
}

#columnInput, #rowInput, #sizeInput {
    width: 3rem;
    margin-right: .1rem;
    font-size: 1.2rem;
}

#colorSubmit {
    margin-top: 10px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(13, 27, 39);
    color: rgb(255, 255, 255);
    
}

#resetButton {
    background-color: rgb(240, 76, 76);
    color: white;
    border: solid rgb(177, 0, 0) 2px;
    border-radius: .2rem;
    padding: .2rem;
    padding-left: .7rem;
    padding-right: .7rem;
    cursor: pointer;
}
#clearButton {
    background-color: rgb(120, 141, 255);
    color: white;
    border: solid rgb(113, 121, 235) 3px;
    border-radius: .2rem;
    padding: .1rem;
    padding-left: .7rem;
    padding-right: .7rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

img {
    height: 3rem;
    margin-left: 1rem;
}

#headerWrapper {
    margin-top: -1rem;
    display: flex;
    align-items: center
}

#header {
    align-self: end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#headerDescription {
    margin-top: -1rem;
    margin-bottom: 2.4rem;
}

.lightmodeWrapper {    
    display: flex;
    flex-direction: row;
    margin-left: -.9rem;
}

#lightmodeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#clickmeImage {
    margin-left: -5px;
}

#applyButton {
    background-color: rgb(41, 189, 65);
    color: white;
    border: solid rgb(0, 179, 74) 5px;
    border-radius: .6rem;
    padding: .7rem;
    cursor: pointer;
}

#enableBorderWrapper {
    display: flex;
    margin-bottom: -1.5rem;
}

#enableBorderButton {
    margin-left: 1rem;
}

#footer {
    display: flex;
    position: fixed;
    bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}